HajimeNoIppo/2024_9_24_HajimeNoIppo.csv
DemonSlayer/.env
DemonSlayer/__pycache__/Manga_function.cpython-311.pyc
FairyTail/.env
Functions/__pycache__/Manga_function.cpython-311.pyc
HajimeNoIppo/.env
Naruto/.env
NarutoShippuden/.env
Onepiece/.env
TopAnime/.env
